<p> Here are your projects, <em><strong><%= @user.username %></strong></em>:</p>
<br>

<% if !@user.projects.empty? %>
  <% @user.projects.each do |project| %>
    <div style="width:95%">
      <h2 style="color:#008B8B" ><%= project.name %></h2>
      <br>
      <p><%= project.content %></p>
      <br><br>
      <p><em>Completion date:</em></p>
      <p>*<%= project.completion %></p>
      <br>
      <p><em>Number of attempts needed to complete:</em></p>
      <% project.results.each do |pro| %>
      <p>*<%= pro.info %></p>
      <% end %>
      <br><br>

  <a href="/projects/<%=project.id%>/edit" class="button">Edit Project </a>
  <br><br>
  <form method="post" action="/projects/<%=project.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" class="button, submit" value="Delete Project">
  </form>
  <br>
    </div>
        <hr>
  <% end %>
<% else %>
    <h2> There are no projects available.</h2>
<% end %>

