<p> Here are your projects, <%= @user.username %></p>
<br>


<% if !@user.projects.empty? %>


  <% @user.projects.each do |project| %>
    <div>
      <h2><%= project.name %></h2>
      <br>
      <%= project.content %>
      <br>
      <%= project.completion %>
      <br>
      
      <% project.results.each do |pro| %>

      <p><%= pro.info %></p>
      <% end %>

      <br><br>

  <a href="/projects/<%=project.id%>/edit" class="button">Edit Project </a>
  <br><br>

  <form method="post" action="/projects/<%=project.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" class="button, submit" value="Delete Project">
  </form>
  <br>

    </div>
  <% end %>


<% else %>
    <h2> There are no projects available.</h2>

<% end %>

