<% if @message %>
<div class="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <%= @message %>
</div>
<% end %>

<h2> Edit Project: </h2>
<br>
<form method="post" action="/projects/<%=@project.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <p>Project name: <input type="text" name="name" value="<%= @project.name %>" style="width:210px"></p>

  <p>Content:</p>
  <textarea name="content" id="content" value="<%= @project.content %>" cols="40" rows="5"></textarea>
  
  <p>Completion date: <input type="text" name="completion" value="<%= @project.completion %>" style="width:190px"></p>

  <input type="submit" class="button" value="submit">
</form>