<p>Welcome,</p> 
<h1><em><%= current_user.username %></em></h1>
<br><br>
<p>List of all Projects:</p>
<br>
<% @projects.each do |project| %>
    <h2><%= project.name %></h2>
    <p><%= project.content %></p>
    <p><%= project.completion %></p>
      
      <% project.results.each do |pro| %>

      <p><%= pro.info %></p>
      <% end %>
      
    <hr>
<% end %>