<p>Welcome, <em><strong><%= current_user.username %></em></strong>.</p>
<br>
<% if !@projects.empty? %>

<p>Here is a list of all Projects:</p>
<br>

<% @projects.each do |project| %>
    <h2 style="color:#008B8B" ><%= project.name %></h2>
    <p><%= project.content %></p>
    <p><em>Completion date:</em></p>
    <p>*<%= project.completion %></p>
      
      <% project.results.each do |pro| %>
      <p><em>Number of attempts needed to complete:</em></p>
      <p>*<%= pro.info %></p>
      <% end %>
      
    <hr>
<% end %>


<% else %>
    <h2> There are no projects available.</h2>

<% end %>