<p><%= @project.name %>
<p><%= @project.content %>
<p><%= @project.completion %>


<form method="post" action="/projects/<%=@project.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tweet">
</form>

<a href="/projects/<%=@project.id%>/edit">Edit Tweet </a>