<p><%= @project.name %></p>
<br>
<p><%= @project.content %></p>
<br>
<p><%= @project.completion %></p>
<br>


<% @project.results.each do |project| %>

    <p><%= project.info %></p>
<% end %>

<br>

<a href="/projects/<%=@project.id%>/edit" class="button">Edit Project </a>
<br><br>

<form method="post" action="/projects/<%=@project.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" class="button, submit" value="Delete Project">
</form>
<br>

